<div class="content">
  <header>
    <h1>Inputs</h1>
  </header>

  <div class="row grid grid--three">
    <div>
      <p><Input / ></p>
    </div>
    <div>
      <p><Input / ></p>
    </div>
    <div>
      <p><Input / ></p>
    </div>
  </div>

  <div class="row grid grid--three">
    <div>
      <p><Input / ></p>
    </div>
    <div>
      <p><Input / ></p>
    </div>
    <div>
      <p><Input / ></p>
    </div>
  </div>

  <div class="row resources">
    <p>Icons: https://material.io/resources/icons/?style=round</p>
    <p>@Brezo | <a href="https://github.com/BrezoLarsen" target="_blank">https://github.com/BrezoLarsen</a></p>
  </div>

</div>
